<mat-card>
  <mat-card-content>
    <section>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="name" name='name'>
      </mat-form-field>
      <mat-form-field>
        <input matInput type='number' placeholder="Age" [(ngModel)]="age" name='age'>
      </mat-form-field>
      <button mat-mini-fab color='primary' (click)='save()'>
        save
      </button>
    </section>
  </mat-card-content>
</mat-card>

<section *ngFor='let client of clients; let i = index;'>
  <app-item-client [client]='client'
                   (removeClient)='deleteCliente(i)'
                   (updateClient)='updateClient($event, i)'>
  </app-item-client>
</section>
