<mat-card>
  <mat-card-content>
    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="First Name"
          [(ngModel)]="name"
          name="name"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Address"
          [(ngModel)]="address"
          name="address"
        />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone" [(ngModel)]="phone" name="phone"/>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="City" [(ngModel)]="city">
          <mat-option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age" [(ngModel)]="age" name="age"/>
      </mat-form-field>
    </section>
  </mat-card-content>

  <mat-card-actions
    style="display: flex; flex-flow: row wrap; justify-content: center"
  >
    <div style="align-self: flex-start; width: 100%;">
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="disabled"
      >
        save
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="cancel()"
        [disabled]="disabled"
      >
        cancel
      </button>
    </div>
    <mat-progress-spinner [mode]="load"></mat-progress-spinner>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="clients.length > 0">
  <mat-card-content>
    <section>
      <mat-list>
        <h3 matHeader>Clientes</h3>
        <mat-divider></mat-divider>

        <mat-list-item *ngFor="let cliente of clients; let i = index">
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Name: {{ cliente.name }}</h2>
          <h2 matLine>Address: {{ cliente.address }}</h2>
          <h2 matLine>Phone: {{ cliente.phone }}</h2>
          <h2 matLine>Age: {{ cliente.Age }}</h2>
          <h2 matLine>City: {{ cliente.city }}</h2>
          <button mat-icon-button color='warn' (click)='delete(i)'>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </section>
  </mat-card-content>

  <mat-card-actions></mat-card-actions>
</mat-card>
