<mat-card>
  <mat-card-content>
    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="first name"
          [(ngModel)]="name"
          name="name"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="address"
          [(ngModel)]="address"
          name="address"
        />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="phone"
          [(ngModel)]="phone"
          name="phone"
        />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="first name"
          [(ngModel)]="name"
          name="name"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="first name"
          [(ngModel)]="name"
          name="name"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="first name"
          [(ngModel)]="name"
          name="name"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </section>
  </mat-card-content>
</mat-card>
