/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Nunito', "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  margin: 20px;
}

