/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.center {
  display: flex !important;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
