<mat-card>
  <mat-card-content>
    <section *ngIf='onEdit'>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="name" name='name'>
      </mat-form-field>
      <mat-form-field>
        <input matInput type='number' placeholder="Age" [(ngModel)]="age" name='age'>
      </mat-form-field>
      <button mat-mini-fab color='primary' (click)='save()'>
        save
      </button>
    </section>

    <section *ngIf='!onEdit'>
      {{ client.name }} / {{ client.age }}
      <button mat-icon-button color='primary' (click)='edit()'>
        <mat-icon> edit </mat-icon>
      </button>

      <button mat-icon-button color='warn' (click)='remove()'>
        <mat-icon>delete</mat-icon>
      </button>

    </section>
  </mat-card-content>
</mat-card>
