<section class="container">
  <mat-card class="center example-card mat-elevation-z3">
    <div>
      <h1>String Interpolation</h1>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title [style]="colors[idx]">Victor Lucas</mat-card-title>
        <mat-card-subtitle>Aplicação Angular: Data-Binding</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{ person.name }}</p>
        <p>Sobrenome: {{ person.lastname }}</p>
        <p>Idade: {{ person.age }}</p>
        <p>Endereço: {{ person.adress }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</section>
