<h1 *ngIf="title != null">Title : {{ title }} </h1>
<mat-list>
  <h2 mat-subheader>DVD List</h2>
  <mat-list-item *ngFor="let dvd of _dvd; let i=index">
    <mat-icon mat-list-icon>album</mat-icon>
    <h4 mat-line>{{dvd.title}}</h4>
    <button mat-icon-button color="primary" routerLink='/dvds/{{ dvd.id }}'>
      <mat-icon>more_horiz</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="goDetails(dvd)">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="deleteDvd(dvd.id)">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<button mat-fab color="primary" class="add-button" (click)="goNew()">
  <mat-icon>add</mat-icon>
</button>

<ng-template #loading>
  <mat-spinner class="loading" mode='indeterminate'></mat-spinner>
</ng-template>
